.schools-container {
  padding: 20px;
}

.schools-btn {
  margin-bottom: 20px;
  background-color: #9ddba7; 
  border: none;
  color: #f0f5f2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.schools-btn:hover {
  background-color: #0056b3; 
}

.schools-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schools-table th,
.schools-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.schools-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.schools-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schools-table tr:hover {
  background-color: #ddd;
}

.schools-action-buttons button {
  margin-right: 5px;
}

.schools-view-details-btn {
  background-color: #bcecb2; 
}

.schools-view-details-btn:hover {
  background-color: #657deb; 
}
