<h3>Invoices due</h3>
<p-table [value]="invoices">
    <ng-template pTemplate="header">
      <tr>
        <th>School Name</th>
        <th>Invoice Number</th>
        <th>Due Date</th>
        <th>Amount Due</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
      <tr>
        <td>{{ invoice.schoolName }}</td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.dueDate }}</td>
        <td>{{ invoice.amountDue }}</td>
      </tr>
    </ng-template>
  </p-table>
  